<div class="row">
	<div class="col m12">
		<h5 class="left"><span class="green-text text-accent-4">Create</span> An Itinerary</h5>
		<a class="btn blue darken-4 right" href="#/itineraries/all">All Itineraries</a>
		<a class="btn purple darken-4 right" href="#/visits/all">All Visits</a>
	</div>
</div>
<form name="form" ng-submit="vm.add(form.$valid)">
	<div class="row">
		<div class="input-field col m3">
	    <select class="browser-default" ng-model='visit.region' required>
		    <option value="" disabled selected>Region*</option>
	      <option ng-repeat="region in vm.regions">{{region}}</option>
	    </select>
	  </div>
	</div>
	<div ng-repeat="visit in vm.visits">
	 	<div class="row valign-wrapper">
			<div class="input-field col m3">
				<input type='date' placeholder="Date" ng-model='visit.date' required>
			</div>
		  <div class="col m3">
		    <select class="browser-default" ng-model='visit.company' ng-change="vm.getCompanyBranches(visit.company, $index)" required>
			    <option value="" disabled selected>Company*</option>
		      <option ng-repeat="company in vm.companies" value="{{company._id}}">{{company.name}}</option>
		    </select>
		  </div>
		  <div class="col m3">
	  		<select class="browser-default" ng-model='visit.branch' required>
			    <option value="" disabled selected>Branch*</option>
		      <option ng-repeat="branch in vm.branchesToVisit[$index]" value="{{branch._id}}">{{branch.location.city}} Branch</option>
		    </select>
	  	</div>
		  <div class="col m1 offset-m2">
				<a ng-click='vm.removeVisit($index)' class="btn red darken-4 right">X</a>
		  </div>
	  </div>
	  <div class="row">
	  	<div class="col m5">
	  		<select class="browser-default multiple" ng-model='visit.employees' multiple required>
			    <option value="" disabled selected>Add Attendees* (Ctrl to select multiple)</option>
		      <option ng-repeat="employee in vm.employees" value="{{employee._id}}">{{employee.name}}</option>
		    </select>
	  	</div>
		</div>
	</div>
	<div class="row">
		<div class="input-field col m12">
			<button type='submit' ng-disabled="form.$invalid" class="btn green accent-4">Submit</button>
			<a ng-click='vm.visits.push({})' class="btn blue darken-4">Add Another Visit</a>
		</div>
 	</div>
</form>

<div class="row blue darken-4 blue-text text-darken-4 z-depth-2">-</div>


<div class="row">
	<div class="col m9">
		<h5>Itineraries</h5>
	</div>
</div>
<div class="row">
	<div class="col s4 m4">
		<div class="collection">
			<a href="" class="collection-item" ng-click="vm.view(itinerary)" ng-repeat="itinerary in vm.itineraries | limitTo: -10 | orderBy: 'start_date' track by $index">{{itinerary.start_date | date: format: 'mediumDate'}} - {{itinerary.end_date | date: format: 'mediumDate'}}</a>
		</div>
	</div>
</div>