<h4>Add a new customer</h4>
<form>
	<div class="row">
		<div class="input-field col m3">
			<input type='text' placeholder="Name" ng-model='vm.new_customer.name'>
		</div>
		<div class="input-field col m3">
			<input type='text' placeholder="Phone" ng-model='vm.new_customer.phone'>
		</div>
		<div class="input-field col m3">
			<input type='text' placeholder="Title" ng-model='vm.new_customer.title'>
		</div>
		<div class="input-field col m3">
			<span>Company</span>
	    <select class="browser-default" ng-model='vm.new_customer.company'>
	      <option ng-repeat="company in vm.companies" value="{{company._id}}">{{company.name}}</option>
	    </select>
	  </div>
 	</div>
 	<div class="row">
		<div class="input-field col m12">
			<input type='submit' value='Add' ng-click='vm.add()' class="btn right">
		</div>
 	</div>
</form>
<div class="row">
	<div class="col m9">
		<h4>Customers</h4>
	</div>
	<div class="input-field col m3 right">
		<input type="text" placeholder="Search customers" ng-model="orderFilter">
	</div>
	<table class="centered highlight">
		<thead>
			<tr>
				<th>Name</th>
				<th>Phone</th>
				<th>Title</th>
				<th>Company</th>
				<th>View</th>
				<th>Delete</th>
			</tr>
		</thead>
		<tbody ng-repeat="customer in vm.customers | filter: orderFilter | orderBy: 'company.name' track by $index">
			<tr>
				<td ng-bind="customer.name"></td>
				<td ng-bind="customer.phone"></td>
				<td ng-bind="customer.title"></td>
				<td ng-bind="customer.company.name"></td>
				<td><div ng-click="vm.view(customer)" class="btn orange">Edit</div></td>
				<td><div ng-click="vm.remove(customer)" class="btn red">Delete</div></td>
			</tr>
		</tbody>
	</table>
</div>