<div class="row">
	<div class="col m12">
		<h5 class="left">Edit Company:</h5>
		<a class="btn blue darken-4 right" href="#/companies">Add Company</a>
	</div>
</div>
<div class="row">
	<form class="col m12">
		<div class="row">
		  <div class="input-field col s3">
		    <input ng-model='vm.company.name' id="name" type="text" class="validate" required>
		    <label class="active" for="name">Name</label>
		  </div>
			<div class="input-field col m3">
	  		<select class="browser-default" ng-model='vm.new_manager'>
			    <option value="" disabled>{{vm.company.manager.name}}</option>
		      <option ng-repeat="manager in vm.managers" value="{{manager._id}}">{{manager.name}}</option>
		    </select>
	  	</div>
			<div class="input-field col m3">
				<input type='submit' value='Submit' ng-click='vm.edit()' class="btn green accent-4">
			</div>
		</div>
	</form>
</div>
<div class="row">
	<div class="col m4">
		<h5>Sales Manager</h5>
		<div class="collection">
			<a href="#/employee/lumileds/{{vm.company.manager._id}}" class="collection-item">{{vm.company.manager.name}}</a>
		</div>
	</div>
	<div class="col m4">
		<h5>Branches</h5>
		<div class="collection">
			<a href="#/company/{{vm.company_id}}/branch/{{branch._id}}" class="collection-item" ng-repeat="branch in vm.company.branches | orderBy: 'name' track by $index">{{branch.location.city}} Branch</a>
		</div>
	</div>
	<div class="col m4">
		<h5>Employees</h5>
		<div class="collection">
			<a href="#/company/{{vm.company_id}}/employee/{{employee._id}}" class="collection-item" ng-repeat="employee in vm.company.employees | orderBy: 'name' track by $index">{{employee.name}}</a>
		</div>
	</div>
</div>
<div class="row blue darken-4 blue-text text-darken-4 z-depth-2">-</div>
<div class="row">
	<div class="col m12">
		<a class="btn blue darken-4" href="#/branches/{{vm.company_id}}">Add branch</a>
		<a class="btn blue darken-4" href="#/employees/{{vm.company_id}}">Add employee</a>
	</div>
</div>
<div class="row red red-text z-depth-2">-</div>
<div class="row">
	<div class="col m12">
		<h5 class="red-text">WARNING: Delete company</h5>
		<div ng-click="vm.remove(vm.company)" class="btn blue-grey darken-3 red-text">Delete</div>
	</div>
</div>