<div class="row">
	<div class="col m9">
		<h4>Lumileds Employee:</h4>
		<h5>Name: {{employee.name}}</h5>
		<h5>Address: {{employee.location.street}}, {{employee.location.city}}, {{employee.location.state}} </h5>
		<h5>Country: {{employee.location.country}}</h5>
		<h5>Region: {{employee.location.region}}</h5>
		<h5>Phone: {{employee.phone}}</h5>
	</div>
</div>
<h4>Edit employee</h4>
<form>
 	<div class="row">
		<div class="input-field col m3">
			<input type='text' placeholder="Name" ng-model='new_employee.name'>
		</div>
		<div class="input-field col m3">
			<input type='text' placeholder="Phone" ng-model='new_employee.phone'>
		</div>
  </div>
  <div class="row">
		<div class="input-field col m3">
			<input type='text' placeholder="Street" ng-model='new_location.street'/>
		</div>
		<div class="input-field col m3">
			<input type='text' placeholder="City" ng-model='new_location.city'>
		</div>
		<div class="input-field col m2">
			<input type='text' placeholder="State" ng-model='new_location.state'>
		</div>
		<div class="input-field col m2">
			<input type='text' placeholder="Country" ng-model='new_location.country'>
		</div>
		<div class="input-field col m2">
			<span>Region</span>
	    <select class="browser-default" ng-model='new_location.region'>
	      <option ng-repeat="region in regions">{{region}}</option>
	    </select>
	  </div>
  </div>
	<div class="row">
		<div class="input-field col m1">
			<input type='submit' value='Edit' ng-click='edit()' class="btn">
		</div>
 	</div>
</form>

<h4>Delete employee</h4>
<div ng-click="remove(employee)" class="btn red">Delete</div>