<div class="row">
	<div class="col m9">
		<h4>Trip Information:</h4>
		<h5>Duration: {{trip.start_date | date: format: 'mediumDate'}} - {{trip.end_date | date: format: 'mediumDate'}}</h5>
		<h5>Company: <a href="#/company/{{trip.company._id}}">{{trip.company.name}}</a> </h5>
		<h5>Region: {{trip.region}}</h5>
		<h5>Attendees:</h5>
		<ul>
			<li ng-repeat="attendee in trip.employees">
				<a href="#/employee/{{attendee._id}}">{{attendee.name}}</a> 
			</li>
		</ul>
	</div>
</div>
<h4>Edit trip</h4>
<form>
 	<div class="row">
		<div class="input-field col m3">
			<input type='date' placeholder="Start Date" ng-model='new_trip.start_date'>
		</div>
		<div class="input-field col m3">
			<input type='date' placeholder="End Date" ng-model='new_trip.end_date'>
		</div>
		<div class="input-field col m2">
			<span>Region</span>
	    <select class="browser-default" ng-model='new_trip.region'>
	      <option ng-repeat="region in regions">{{region}}</option>
	    </select>
	  </div>
	  <div class="input-field col m3">
			<span>Company</span>
	    <select class="browser-default" ng-model='new_trip.company'>
	      <option ng-repeat="company in companies" value="{{company._id}}">{{company.name}}</option>
	    </select>
	  </div>
  </div>
  <div class="row">
  	<div class="col m3">
  		<p>Add Attendees</p>
			<div
			    isteven-multi-select
			    input-model="employees"
			    output-model="add_employees"
			    output-properties="_id"
			    button-label="name"
			    item-label="name"
			    tick-property="ticked"
			>
			</div>
  	</div>
  	<div class="col m3">
  		<p>Remove Attendees</p>
			<div
			    isteven-multi-select
			    input-model="trip.employees"
			    output-model="remove_employees"
			    output-properties="_id"
			    button-label="name"
			    item-label="name"
			    tick-property="ticked"
			>
			</div>
  	</div>
	</div>
	<div class="row">
		<div class="input-field col m1">
			<input type='submit' value='Edit' ng-click='edit()' class="btn orange">
		</div>
 	</div>
</form>

<h4>Delete trip</h4>
<div ng-click="remove(trip)" class="btn red">Delete</div>