<div class="row">
	<div class="col m12">
		<h5 class="left"><span class="green-text text-accent-4">Add</span> New {{vm.company.name}} Employee</h5>
		<a class="btn blue darken-4 right" href="#/company/{{vm.company_id}}">Back</a>
	</div>
</div>
<form name="form" ng-submit="vm.add(form.$valid)">
 	<div class="row">
		<div class="input-field col m3">
			<input type='text' placeholder="Name*" ng-model='vm.new_employee.name' required>
		</div>
		<div class="input-field col m3">
			<input type='text' placeholder="Title" ng-model='vm.new_employee.title'>
		</div>
		<div class="input-field col m3">
			<input type='text' placeholder="Phone" ng-model='vm.new_employee.phone'>
		</div>
		<div class="input-field col m3">
			<input type='email' placeholder="Email" ng-model='vm.new_employee.email'>
		</div>
  </div>
	<div class="row">
		<div class="input-field col m12">
			<input type='submit' value='Add' class="btn green accent-4" ng-disabled="form.$invalid">
		</div>
 	</div>
</form>