<div class="row">
	<div class="col m12">
		<h5 class="left">All Lumileds Employees</h5>
		<a class="btn blue darken-4 right" href="#/employees/lumileds">Back</a>
	</div>
</div>
<div class="row">
	<div class="input-field col m3 right">
		<input type="text" placeholder="Search employees" ng-model="employeeFilter">
	</div>
	<table class="highlight">
		<thead>
			<tr>
				<th>Name</th>
				<th>Title</th>
				<th>Phone</th>
				<th>Region</th>
			</tr>
		</thead>
		<tbody ng-repeat="employee in vm.employees | filter: employeeFilter | orderBy: 'name' track by $index">
			<tr ng-click="vm.view(employee)">
				<td>{{employee.name}}</td>
				<td>{{employee.title}}</td>
				<td>{{employee.phone}}</td>
				<td>{{employee.location.region}}</td>
			</tr>
		</tbody>
	</table>
</div>