<div class="row">
	<div class="col m12">
		<h5 class="left">All Visits</h5>
		<a class="btn blue darken-4 right" href="#/visits">Back</a>
	</div>
</div>
<div class="row">
	<div class="input-field col m3 right">
		<input type="text" placeholder="Search visits" ng-model="visitFilter.$">
	</div>
	<table class="highlight">
		<thead>
			<tr>
				<th>#</th>
				<th>Date</th>
				<th>Location</th>
				<th>Region</th>
				<th>Attendees</th>
			</tr>
		</thead>
		<tbody ng-repeat="visit in vm.visits | filter: visitFilter:strict | orderBy: 'date' track by $index">
			<tr ng-click="vm.view(visit._id)">
				<td>{{$index+1}}</td>
				<td>{{visit.date}}</td>
				<td>{{visit.company.name}} - {{visit.branch.location.city}} Branch</td>
				<td>{{visit.region}}</td>
				<td><span ng-repeat="e in visit.employees">{{e.name}}<span ng-if="!$last">, </span></span></td>
			</tr>
		</tbody>
	</table>
</div>