<div class="row">
	<div class="col m9">
		<h5 class="left">All Airports, Hotels, & Restaurants</h5>
	</div>
	<div class="input-field col m3 right">
		<input type="text" placeholder="Search" ng-model="filter">
	</div>
</div>
<div class="row">
	<table class="highlight">
		<thead>
			<tr>
				<th class="orderable" ng-click="vm.order('company')">Company</th>
				<th class="orderable" ng-click="vm.order('name')">Name</th>
				<th class="orderable" ng-click="vm.order('location.city')">City</th>
				<th class="orderable" ng-click="vm.order('location.state')">State</th>
				<th class="orderable" ng-click="vm.order('location.country')">Country</th>
				<th class="orderable" ng-click="vm.order('location.region')">Region</th>
			</tr>
		</thead>
		<tbody ng-repeat="a in vm.amenities | filter: filter | limitTo: 300 | orderBy:vm.predicate:vm.reverse track by $index">
			<tr ng-click="vm.view(a.link)">
				<td>{{a.company}}</td>
				<td>{{a.name}}</td>
				<td>{{a.location.city}}</td>
				<td>{{a.location.state}}</td>
				<td>{{a.location.country}}</td>
				<td>{{a.location.region}}</td>
			</tr>
		</tbody>
	</table>
</div>