<h5><span class="green-text text-accent-4">Add</span> New Company</h5>
<div class="row">
	<form name="form" ng-submit="vm.add(form.$valid)">
		<div class="input-field col m3">
			<input type='text' placeholder="Name*" ng-model='vm.new_company.name' required>
		</div>
		<div class="input-field col m3">
  		<select class="browser-default" ng-model='vm.new_company.manager'>
		    <option value="" disabled selected>Sales Manager</option>
	      <option ng-repeat="manager in vm.managers" value="{{manager._id}}">{{manager.name}}</option>
	    </select>
  	</div>
		<div class="input-field col m3">
			<input type='submit' value='Add' class="btn green accent-4" ng-disabled="form.$invalid">
		</div>
	</form>
</div>
<div class="row blue darken-4 blue-text text-darken-4 z-depth-2">-</div>
<div class="row">
	<div class="col m9">
		<h5>Companies</h5>
	</div>
	<div class="input-field col m3 right">
		<input type="text" placeholder="Search companies" ng-model="companyFilter">
	</div>
</div>
<div class="row">
	<div class="col m6">
		<table class="highlight">
			<thead>
				<tr>
					<th>Name</th>
					<th>Manager</th>
				</tr>
			</thead>
			<tbody ng-repeat="company in vm.companies1 | filter: companyFilter | orderBy: 'company.name' track by $index">
				<tr ng-click="vm.view(company._id)">
					<td>{{company.name}}</td>
					<td>{{company.manager.name}}</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col m6 left-border">
		<table class="highlight">
			<thead>
				<tr>
					<th>Name</th>
					<th>Manager</th>
				</tr>
			</thead>
			<tbody ng-repeat="company in vm.companies2 | filter: companyFilter | orderBy: 'company.name' track by $index">
				<tr ng-click="vm.view(company._id)">
					<td>{{company.name}}</td>
					<td>{{company.manager.name}}</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>