<div class="row">
	<div class="col m12">
		<h5 class="left"><span class="green-text text-accent-4">Add</span> New {{vm.company.name}} Branch</h5>
		<a class="btn purple darken-4 right" href="#/branches/all">View All</a>
		<a class="btn blue darken-4 right" href="#/company/{{vm.company_id}}">Back</a>
	</div>
</div>
<form name="form" ng-submit="vm.add(form.$valid)">
  <div class="row">
		<div class="input-field col m3">
			<input type='text' placeholder="Address" ng-model='vm.branch_location.street'>
		</div>
		<div class="input-field col m3">
			<input type='text' placeholder="City*" ng-model='vm.branch_location.city' required>
		</div>
		<div class="input-field col m2">
			<input type='text' placeholder="State" ng-model='vm.branch_location.state'>
		</div>
		<div class="input-field col m2">
			<input type='text' placeholder="Country" ng-model='vm.branch_location.country'>
		</div>
		<div class="input-field col m2">
	    <select class="browser-default" ng-model='vm.branch_location.region' required>
		    <option value="" disabled selected>Region*</option>
	      <option ng-repeat="region in vm.regions">{{region}}</option>
	    </select>
	  </div>
  </div>
	<div class="row">
		<div class="input-field col m12">
			<input type='submit' value='Add' class="btn green accent-4" ng-disabled="form.$invalid">
		</div>
 	</div>
</form>