<div class="row">
	<div class="col m9">
		<h4><a href="#/company/{{vm.customer.company._id}}">{{vm.customer.company.name}}</a> Employee:</h4>
		<h5>Name: {{vm.customer.name}}</h5>
		<h5>Phone: {{vm.customer.phone}}</h5>
		<h5>Title: {{vm.customer.title}}</h5>
	</div>
</div>
<h4>Edit customer</h4>
<form>
	<div class="row">
		<div class="input-field col m3">
			<input type='text' placeholder="Name" ng-model='vm.new_customer.name'>
		</div>
		<div class="input-field col m3">
			<input type='text' placeholder="Phone" ng-model='vm.new_customer.phone'>
		</div>
		<div class="input-field col m3">
			<input type='text' placeholder="Title" ng-model='vm.new_customer.title'>
		</div>
		<div class="input-field col m3">
			<span>Company</span>
	    <select class="browser-default" ng-model='vm.new_customer.company'>
	      <option ng-repeat="company in vm.companies" value="{{company._id}}">{{company.name}}</option>
	    </select>
	  </div>
 	</div>
 	<div class="row">
		<div class="input-field col m1">
			<input type='submit' value='Edit' ng-click='vm.edit()' class="btn">
		</div>
 	</div>
</form>

<h4>Delete customer</h4>
<div ng-click="vm.remove(customer)" class="btn red">Delete</div>