<div class="row">
	<div class="col m12">
		<h5 class="left">Edit Visit</h5>
		<a class="btn blue darken-4 right" href="#/itinerary/{{vm.itinerary_id}}">Back</a>
	</div>
</div>
<form name="companyForm" ng-submit="vm.editCompany(companyForm.$valid)">
	<div class="row valign-wrapper">
	  <div class="input-field col m3">
	    <label class="active">Company</label>
	    <select class="browser-default validate" ng-model='vm.new_company' ng-change="vm.getCompanyBranches(vm.new_company)" required>
		    <option value="" disabled>{{vm.visit.company.name}}</option>
	      <option ng-repeat="company in vm.companies" value="{{company._id}}">{{company.name}}</option>
	    </select>
	  </div>
	  <div class="input-field col m3">
	    <label class="active">Branch</label>
			<select class="browser-default validate" ng-model='vm.new_branch' ng-change="vm.getBranchAmenities(vm.new_branch)" required>
		    <option value="" disabled>{{vm.visit.branch.location.city}} Branch</option>
	      <option ng-repeat="branch in vm.branchesToVisit" value="{{branch._id}}">{{branch.location.city}} Branch</option>
	    </select>
		</div>
		<div class="input-field col m3">
	    <label class="active">Airport</label>
  		<select class="browser-default" ng-model='vm.new_airport' required>
		    <option value="" disabled>{{vm.visit.airport.name}}</option>
	      <option ng-repeat="airport in vm.airportsToVisit" value="{{airport._id}}">{{airport.name}}</option>
	    </select>
  	</div>
  	<div class="input-field col m3">
	    <label class="active">Hotel</label>
  		<select class="browser-default" ng-model='vm.new_hotel' required>
		    <option value="" disabled>{{vm.visit.hotel.name}}</option>
	      <option ng-repeat="hotel in vm.hotelsToVisit" value="{{hotel._id}}">{{hotel.name}}</option>
	    </select>
  	</div>
	</div>
	<div class="row">
		<div class="input-field col m12">
			<button type='submit' ng-disabled="companyForm.$invalid" class="btn green accent-4">Change Location</button>
		</div>
 	</div>
</form>
<form name="form" ng-submit="vm.edit()">
	<div class="row valign-wrapper">
		<div class="input-field col m3">
			<input type='date' class=" validate" placeholder="Start Date" ng-model='vm.visit.date' required>
		</div>
  	<div class="col m3">
	    <label class="active">Sales Manager</label>
  		<select class="browser-default" ng-model='vm.visit.manager' required>
	      <option ng-repeat="manager in vm.managers" value="{{manager._id}}">{{manager.name}}</option>
	    </select>
  	</div>
	</div>
	<div class="row">
		<div class="col m4">
			<p>Add Executives</p>
			<div
			    isteven-multi-select
			    input-model="vm.execs"
			    output-model="vm.add_execs"
			    output-properties="_id"
			    button-label="name"
			    item-label="name"
			    tick-property="ticked"
			    translation="vm.selectExecsAdd"
			>
			</div>
		</div>
		<div class="col m4">
			<p>Remove Executives</p>
			<div
			    isteven-multi-select
			    input-model="vm.visit.executives"
			    output-model="vm.remove_employees"
			    output-properties="_id"
			    button-label="name"
			    item-label="name"
			    tick-property="ticked"
			    translation="vm.selectExecsRemove"
			>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col m4">
			<p>Add Attendees</p>
			<div
			    isteven-multi-select
			    input-model="vm.employees"
			    output-model="vm.add_employees"
			    output-properties="_id"
			    button-label="name"
			    item-label="name"
			    tick-property="ticked"
			    translation="vm.selectPropsAdd"
			>
			</div>
		</div>
		<div class="col m4">
			<p>Remove Attendees</p>
			<div
			    isteven-multi-select
			    input-model="vm.visit.employees"
			    output-model="vm.remove_employees"
			    output-properties="_id"
			    button-label="name"
			    item-label="name"
			    tick-property="ticked"
			    translation="vm.selectPropsRemove"
			>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="input-field col m12">
			<button type='submit' class="btn green accent-4">Edit Visit</button>
		</div>
 	</div>
</form>

<div class="row red red-text z-depth-2">-</div>
<div class="row">
	<div class="col m12">
		<h5 class="red-text">WARNING: Delete visit</h5>
		<div ng-click="vm.remove(vm.visit)" class="btn blue-grey darken-3 red-text">Delete</div>
	</div>
</div>