<div class="row">
	<div class="col m12">
		<h4><a href="#/company/{{vm.branch.company._id}}">{{vm.branch.company.name}}</a> - {{vm.branch.location.city}} Branch</h4>
		<h5>Address: {{vm.branch.location.street}}, {{vm.branch.location.city}}, {{vm.branch.location.state}} </h5>
		<h5>Country: {{vm.branch.location.country}}</h5>
		<h5>Region: {{vm.branch.location.region}}</h5>
		<h5>Airports: </h5>
		<table class="centered">
			<thead>
				<tr>
					<th>Name</th>
					<th>Location</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="airport in vm.branch.airports | orderBy: 'airport.name' track by $index">
					<td>{{airport.name}}</td>
					<td>{{airport.location.city}}, {{airport.location.country}}</td>
					<td><div ng-click="vm.removeAirport(airport)" class="btn red">Delete</div></td>
				</tr>
			</tbody>
		</table>
		<h5>Hotels: </h5>
		<table class="centered">
			<thead>
				<tr>
					<th>Name</th>
					<th>Phone</th>
					<th>Location</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="hotel in vm.branch.hotels | orderBy: 'hotel.name' track by $index">
					<td>{{hotel.name}}</td>
					<td>{{hotel.phone}}</td>
					<td>{{hotel.location.city}}, {{hotel.location.country}}</td>
					<td><div ng-click="vm.removeHotel(hotel)" class="btn red">Delete</div></td>
				</tr>
			</tbody>
		</table>
		<h5>Restaurants: </h5>
		<table class="centered">
			<thead>
				<tr>
					<th>Name</th>
					<th>Phone</th>
					<th>Location</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="restaurant in vm.branch.restaurants | orderBy: 'restaurant.name' track by $index">
					<td>{{restaurant.name}}</td>
					<td>{{restaurant.phone}}</td>
					<td>{{restaurant.location.city}}, {{restaurant.location.country}}</td>
					<td><div ng-click="vm.removeRestaurant(restaurant)" class="btn red">Delete</div></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="row">
	<div class="col m2 center">
		<a class="btn blue darken-4" ng-click="vm.scrollTo('airport')">Add airport</a>
	</div>
	<div class="col m2 center">
		<a class="btn blue darken-4" ng-click="vm.scrollTo('hotel')">Add hotel</a>
	</div>
	<div class="col m2 center">
		<a class="btn blue darken-4" ng-click="vm.scrollTo('restaurant')">Add restaurant</a>
	</div>
	<div class="col m3 center">
		<a class="btn red" ng-click="vm.scrollTo('delete')">Delete branch</a>
	</div>
</div>
<hr>
<h4>Edit branch</h4>
<form>
	<div class="row">
		<div class="input-field col m3">
			<span>Company</span>
	    <select class="browser-default" ng-model='vm.new_branch.company'>
	      <option ng-repeat="company in vm.companies" value="{{company._id}}">{{company.name}}</option>
	    </select>
	  </div>
 	</div>
	
	<p>Branch Adress</p>
 	<div class="row">
		<div class="input-field col m3">
			<input type='text' placeholder="Address" ng-model='vm.branch_location.street'>
		</div>
		<div class="input-field col m3">
			<input type='text' placeholder="City" ng-model='vm.branch_location.city'>
		</div>
		<div class="input-field col m2">
			<input type='text' placeholder="State" ng-model='vm.branch_location.state'>
		</div>
		<div class="input-field col m2">
			<input type='text' placeholder="Country" ng-model='vm.branch_location.country'>
		</div>
		<div class="input-field col m2">
			<span>Region</span>
	    <select class="browser-default" ng-model='vm.branch_location.region'>
	      <option ng-repeat="region in vm.regions">{{region}}</option>
	    </select>
	  </div>
  </div>

 	<div class="row">
		<div class="col m12">
			<div class="input-field right">
				<input type='submit' value='Edit' ng-click='vm.edit()' class="btn">
			</div>
		</div>
	</div>
</form>

<hr>
<div class="row valign-wrapper">
	<div class="col m2">
		<h4 id="airport">Add Airport</h4>
	</div>
	<div class="col m2">
		<button class="btn blue darken-4 valign" ng-click="vm.scrollTo('root')">Back to top</button>
	</div>
</div>

<div class="row">
	<div class="input-field col m3">
		<input type='text' placeholder="Name" ng-model='vm.new_airport.name'>
	</div>
</div>
<div class="row">
	<div class="input-field col m3">
		<input type='text' placeholder="Street" ng-model='vm.airport_location.street'>
	</div>
	<div class="input-field col m3">
		<input type='text' placeholder="City" ng-model='vm.airport_location.city'>
	</div>
	<div class="input-field col m2">
		<input type='text' placeholder="State" ng-model='vm.airport_location.state'>
	</div>
	<div class="input-field col m2">
		<input type='text' placeholder="Country" ng-model='vm.airport_location.country'>
	</div>
	<div class="input-field col m2">
		<span>Region</span>
    <select class="browser-default" ng-model='vm.airport_location.region'>
      <option ng-repeat="region in vm.regions">{{region}}</option>
    </select>
  </div>
</div>
<div class="row">
	<div class="col m12">
		<div class="input-field right">
			<input type='submit' value='Add' ng-click='vm.addAirport()' class="btn">
		</div>
	</div>
</div>

<hr>
<div class="row valign-wrapper">
	<div class="col m2">
		<h4 id="hotel">Add Hotel</h4>
	</div>
	<div class="col m2">
		<button class="btn blue darken-4 valign" ng-click="vm.scrollTo('root')">Back to top</button>
	</div>
</div>

<div class="row">
	<div class="input-field col m3">
		<input type='text' placeholder="Name" ng-model='vm.new_hotel.name'>
	</div>
	<div class="input-field col m3">
		<input type='text' placeholder="Phone" ng-model='vm.new_hotel.phone'>
	</div>
	</div>
	<div class="row">
	<div class="input-field col m3">
		<input type='text' placeholder="Street" ng-model='vm.hotel_location.street'>
	</div>
	<div class="input-field col m3">
		<input type='text' placeholder="City" ng-model='vm.hotel_location.city'>
	</div>
	<div class="input-field col m2">
		<input type='text' placeholder="State" ng-model='vm.hotel_location.state'>
	</div>
	<div class="input-field col m2">
		<input type='text' placeholder="Country" ng-model='vm.hotel_location.country'>
	</div>
	<div class="input-field col m2">
		<span>Region</span>
    <select class="browser-default" ng-model='vm.hotel_location.region'>
      <option ng-repeat="region in vm.regions">{{region}}</option>
    </select>
  </div>
</div>
<div class="row">
	<div class="col m12">
		<div class="input-field right">
			<input type='submit' value='Add' ng-click='vm.addHotel()' class="btn">
		</div>
	</div>
</div>

<hr>
<div class="row valign-wrapper">
	<div class="col m3">
		<h4 id="restaurant">Add Restaurant</h4>
	</div>
	<div class="col m2">
		<button class="btn blue darken-4 valign" ng-click="vm.scrollTo('root')">Back to top</button>
	</div>
</div>
<div class="row">
	<div class="input-field col m3">
		<input type='text' placeholder="Name" ng-model='vm.new_restaurant.name'>
	</div>
	<div class="input-field col m3">
		<input type='text' placeholder="Phone" ng-model='vm.new_restaurant.phone'>
	</div>
	</div>
	<div class="row">
	<div class="input-field col m3">
		<input type='text' placeholder="Street" ng-model='vm.restaurant_location.street'>
	</div>
	<div class="input-field col m3">
		<input type='text' placeholder="City" ng-model='vm.restaurant_location.city'>
	</div>
	<div class="input-field col m2">
		<input type='text' placeholder="State" ng-model='vm.restaurant_location.state'>
	</div>
	<div class="input-field col m2">
		<input type='text' placeholder="Country" ng-model='vm.restaurant_location.country'>
	</div>
	<div class="input-field col m2">
		<span>Region</span>
    <select class="browser-default" ng-model='vm.restaurant_location.region'>
      <option ng-repeat="region in vm.regions">{{region}}</option>
    </select>
  </div>
</div>
<div class="row">
	<div class="col m12">
		<div class="input-field right">
			<input type='submit' value='Add' ng-click='vm.addRestaurant()' class="btn">
		</div>
	</div>
</div>
<hr>
<div id="delete" class="row">
	<div class="col m12">
		<h4>Delete branch</h4>
		<div ng-click="vm.remove(branch)" class="btn red">Delete</div>
	</div>
</div>