<div class="row">
	<div class="col m12">
		<h5 class="left">Edit {{vm.branch.company.name}} - {{vm.branch.location.city}}<span ng-if="vm.branch.location.state">, {{vm.branch.location.state}}</span> Branch
		</h5>
		<a class="btn purple darken-4 right" href="#/branches">View All</a>
		<a class="btn blue darken-4 right" href="#/company/{{vm.company_id}}">View Company</a>
	</div>
</div>
<div class="row">
	<div class="col m12">
		<div class="row">
		  <div id="company-select" class="col s3 m3">
		  	<select class="browser-default" ng-model='vm.new_company'>
			    <option value="" disabled>{{vm.branch.company.name}}</option>
		      <option ng-repeat="company in vm.companies" value="{{company._id}}">{{company.name}}</option>
		    </select>
		  </div>
			<div class="col m3">
				<input type='submit' value='Change Company' ng-click='vm.changeCompany()' class="btn green accent-4">
			</div>
		</div>
	</div>
	<hr>
	<br>
	<form class="col m12">
		<div class="row">
		  <div class="input-field col s3 m3">
		    <input ng-model='vm.branch.location.street' id="street" type="text" class="validate">
		    <label class="active" for="street">Address</label>
		  </div>
		  <div class="input-field col s3 m3">
		    <input ng-model='vm.branch.location.city' id="city" type="text" class="validate">
		    <label class="active" for="city">City</label>
		  </div>
		  <div class="input-field col s3 m2">
		    <input ng-model='vm.branch.location.state' id="state" type="text" class="validate">
		    <label class="active" for="state">State</label>
		  </div>
		  <div class="input-field col s3 m2">
		    <input ng-model='vm.branch.location.country' id="country" type="text" class="validate">
		    <label class="active" for="country">Country</label>
		  </div>
		  <div class="col s2 m2">
		    <label>Region</label>
		  	<select class="browser-default validate" ng-model='vm.branch.location.region' id="region" required>
		      <option ng-repeat="region in vm.regions">{{region}}</option>
		    </select>
		  </div>
		</div>
		<div class="row">
      <div class=" col s10 m10">
        <label for="textarea">Notes</label>
        <textarea id="textarea" ng-model='vm.branch.notes' rows="2"></textarea>
      </div>
    	<div class="input-field col m2">
				<input type='submit' value='Submit' ng-click='vm.edit()' class="btn green accent-4">
			</div>
    </div>
	</form>
</div>
<div class="row blue blue-text darken-4 text-darken-4 z-depth-2">-</div>

<div class="row">
	<div class="col m12">
		<h5>Airports: </h5>
		<table class="bordered highlight">
			<tr ng-repeat="airport in vm.branch.airports | orderBy: 'airport.name' track by $index" ng-click="vm.view('/branch/' + vm.branch_id + '/airport/' + airport._id)">
				<td>{{airport.name}}</td>
				<td>{{airport.location.street}} {{airport.location.city}}, <span ng-if="airport.location.state">{{airport.location.state}}, </span>{{airport.location.country}}</td>
			</tr>
		</table>
		<h5>Hotels: </h5>
		<table class="bordered highlight">
			<tr ng-repeat="hotel in vm.branch.hotels | orderBy: 'hotel.name' track by $index" ng-click="vm.view('/branch/' + vm.branch_id + '/hotel/' + hotel._id)">
				<td>{{hotel.name}}</td>
				<td>{{hotel.phone}}</td>
				<td>{{hotel.location.street}} {{hotel.location.city}}, <span ng-if="hotel.location.state">{{hotel.location.state}}, </span>{{hotel.location.country}}</td>
			</tr>
		</table>
		<h5>Restaurants: </h5>
		<table class="bordered highlight">
			<tr ng-repeat="restaurant in vm.branch.restaurants | orderBy: 'restaurant.name' track by $index" ng-click="vm.view('/branch/' + vm.branch_id + '/restaurant/' + restaurant._id)">
				<td>{{restaurant.name}}</td>
				<td>{{restaurant.phone}}</td>
				<td>{{restaurant.location.street}} {{restaurant.location.city}}, <span ng-if="restaurant.location.state">{{restaurant.location.state}}, </span>{{restaurant.location.country}}</td>
			</tr>
		</table>
	</div>
</div>
<div class="row blue blue-text darken-4 text-darken-4 z-depth-2">-</div>

<div class="row">
	<div class="col m12">
		<a class="btn blue darken-4" href="#/airports/{{vm.branch_id}}">Add airport</a>
		<a class="btn blue darken-4" href="#/hotels/{{vm.branch_id}}">Add hotel</a>
		<a class="btn blue darken-4" href="#/restaurants/{{vm.branch_id}}">Add restaurant</a>
	</div>
</div>
<div class="row red red-text z-depth-2">-</div>
<div class="row">
	<div class="col m12">
		<h5 class="red-text">WARNING: Delete branch</h5>
		<div ng-click="vm.remove(vm.branch)" class="btn blue-grey darken-3 red-text">Delete</div>
	</div>
</div>