<div class="row">
	<div class="col m12">
		<h5 class="left"><span class="green-text text-accent-4">Add</span> New {{vm.branch.company.name}} Hotel - {{vm.branch.location.city}}<span ng-if="vm.branch.location.state">, {{vm.branch.location.state}}</span> Branch</h5>
		<a class="btn blue darken-4 right" href="#/company/{{vm.branch.company._id}}/branch/{{vm.branch_id}}">Back</a>
		<!-- <a class="btn blue darken-4 right" href="#/hotels/all">View All</a> -->
	</div>
</div>
<form name="form" ng-submit="vm.add(form.$valid)">
 	<div class="row">
		<div class="input-field col m3">
			<input type='text' placeholder="Name*" ng-model='vm.new_hotel.name' required>
		</div>
		<div class="input-field col m3">
			<input type='text' placeholder="Phone" ng-model='vm.new_hotel.phone'>
		</div>
  </div>
  <div class="row">
		<div class="input-field col m3">
			<input type='text' placeholder="Address" ng-model='vm.new_location.street'>
		</div>
		<div class="input-field col m3">
			<input type='text' placeholder="City" ng-model='vm.new_location.city'>
		</div>
		<div class="input-field col m2">
			<input type='text' placeholder="State" ng-model='vm.new_location.state'>
		</div>
		<div class="input-field col m2">
			<input type='text' placeholder="Country" ng-model='vm.new_location.country'>
		</div>
		<div class="input-field col m2">
	    <select class="browser-default" ng-model='vm.new_location.region' required>
		    <option value="" disabled selected>Region*</option>
	      <option ng-repeat="region in vm.regions">{{region}}</option>
	    </select>
	  </div>
  </div>
	<div class="row">
		<div class="input-field col m12">
			<input type='submit' value='Add' ng-disabled='form.$invalid' class="btn green accent-4">
		</div>
 	</div>
</form>