<div class="row">
	<div class="col m12">
		<h5 class="left">Edit Itinerary</h5>
		<a class="btn blue darken-4 right" href="#/itineraries/all">Back</a>
	</div>
</div>
<div class="row">
	<div class="input-field col m3 right">
		<input type="text" placeholder="Search itinerary" ng-model="visitFilter">
	</div>
	<table class=" highlight">
		<thead>
			<tr>
				<th>Duation</th>
				<th>Location</th>
				<th>Region</th>
				<th>Attendees</th>
			</tr>
		</thead>
		<tbody ng-repeat="visit in vm.itinerary.visits | filter: visitFilter | orderBy: 'start_date' track by $index">
			<tr ng-click="vm.view(visit._id)">
				<td>{{visit.start_date | date: format: 'mediumDate'}} - {{visit.end_date | date: format: 'mediumDate'}}</td>
				<td>{{visit.company.name}} - {{visit.branch.location.city}} Branch</td>
				<td>{{visit.region}}</td>
				<td><span ng-repeat="e in visit.employees">{{e.name}}<span ng-if="!$last">, </span></span></td>
			</tr>
		</tbody>
	</table>
</div>
<div class="row blue darken-4 blue-text text-darken-4 z-depth-2">-</div>
<div class="row">
	<div class="col m12">
		<h5 class="left"><span class="green-text text-accent-4">Add</span> Visits</h5>
	</div>
</div>


<form name="form" ng-submit="vm.edit(form.$valid)">
	<div ng-repeat="visit in vm.visits">
	 	<div class="row valign-wrapper">
			<div class="input-field col m3">
				<input type='date' class=" validate" placeholder="Start Date" ng-model='visit.start_date' required>
			</div>
			<div class="input-field col m3">
				<input type='date' class="datepicker validate" placeholder="End Date" ng-model='visit.end_date' required>
			</div>
			<div class="input-field col m2">
		    <select class="browser-default validate" ng-model='visit.region' required>
			    <option value="" disabled selected>Region (Required)</option>
		      <option ng-repeat="region in vm.regions">{{region}}</option>
		    </select>
		  </div>
		  <div class="input-field col m3">
		    <select class="browser-default validate" ng-model='visit.company' ng-change="vm.getCompanyBranches(visit.company, $index)" required>
			    <option value="" disabled selected>Company (Required)</option>
		      <option ng-repeat="company in vm.companies" value="{{company._id}}">{{company.name}}</option>
		    </select>
		  </div>
		  <div class="col m1">
				<a ng-click='vm.removeVisit($index)' class="btn red darken-4 right valign">X</a>
		  </div>
	  </div>
	  <div class="row">
	  	<div class="col m5">
	  		<select class="browser-default validate multiple" ng-model='visit.employees' multiple required>
			    <option value="" disabled selected>Add Attendees (Required, Press Ctrl to select multiple)</option>
		      <option ng-repeat="employee in vm.employees" value="{{employee._id}}">{{employee.name}}</option>
		    </select>
	  	</div>
	  	<div class="col m3 offset-m3" ng-if="visit.company">
	  		<select class="browser-default validate" ng-model='visit.branch' required>
			    <option value="" disabled selected>Branch (Required)</option>
		      <option ng-repeat="branch in vm.branchesToVisit[$index]" value="{{branch._id}}">{{branch.location.city}} Branch</option>
		    </select>
	  	</div>
		</div>
	</div>
	<div class="row">
		<div class="input-field col m12">
			<button type='submit' ng-disabled="form.$invalid" class="btn green accent-4">Submit</button>
			<a ng-click='vm.visits.push({})' class="btn blue darken-4">Add Another Visit</a>
		</div>
 	</div>
</form>

<div class="row red red-text z-depth-2">-</div>
<div class="row">
	<div class="col m12">
		<h5 class="red-text">WARNING: Delete itinerary</h5>
		<div ng-click="vm.remove(vm.itinerary)" class="btn blue-grey darken-3 red-text">Delete</div>
	</div>
</div>