<div class="row">
	<div class="col m7">
		<h5 class="left">All Visits</h5>
	</div>
	<div class="col m3">
		<input type="text" placeholder="Search visits" ng-model="visitFilter">
	</div>
	<div class="col m2">
		<a class="btn blue darken-4 right" href="#/visits">Back</a>
	</div>
</div>
<div class="row">
	
	<table class="highlight">
		<thead>
			<tr>
				<th>Date</th>
				<th>Execs</th>
				<th>Location</th>
			</tr>
		</thead>
		<tbody ng-repeat="visit in vm.visits | filter: visitFilter | orderBy: 'date' track by $index">
			<tr ng-click="vm.view(visit._id)">
				<td>{{visit.date}}</td>
				<td><span ng-repeat="exec in visit.executives">{{exec.name}}<span ng-if="!$last">, </span></td>
				<td>{{visit.company.name}} - {{visit.branch.location.city}} Branch</td>
			</tr>
		</tbody>
	</table>
</div>