<h5><span class="green-text text-accent-4">Add</span> New Company</h5>
<div class="row">
	<form>
		<div class="input-field col m3">
			<input type='text' placeholder="Name" ng-model='vm.new_company.name'>
		</div>
		<div class="input-field col m3">
			<input type='submit' value='Add' ng-click='vm.add()' class="btn green accent-4">
		</div>
	</form>
</div>
<div class="row blue darken-4 blue-text text-darken-4 z-depth-2">-</div>
<div class="row">
	<div class="col m9">
		<h5>Companies</h5>
	</div>
	<div class="input-field col m3 right">
		<input type="text" placeholder="Search companies" ng-model="companyFilter">
	</div>
</div>
<div class="row">
	<div class="col s3 m3 center-align">
		<div class="collection">
			<a href="" class="collection-item" ng-click="vm.view(company)" ng-repeat="company in vm.companies1 | filter: companyFilter | orderBy: 'name' track by $index">{{company.name}}</a>
		</div>
	</div>
	<div class="col s3 m3 center-align">
		<div class="collection">
			<a href="" class="collection-item" ng-click="vm.view(company)" ng-repeat="company in vm.companies2 | filter: companyFilter | orderBy: 'name' track by $index">{{company.name}}</a>
		</div>
	</div>
	<div class="col s3 m3 center-align">
		<div class="collection">
			<a href="" class="collection-item" ng-click="vm.view(company)" ng-repeat="company in vm.companies3 | filter: companyFilter | orderBy: 'name' track by $index">{{company.name}}</a>
		</div>
	</div>
	<div class="col s3 m3 center-align">
		<div class="collection">
			<a href="" class="collection-item" ng-click="vm.view(company)" ng-repeat="company in vm.companies4 | filter: companyFilter | orderBy: 'name' track by $index">{{company.name}}</a>
		</div>
	</div>
</div>